<!DOCTYPE html>
<html lang="en">
<head>
	<title>Git dir UI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<style>
	table {
		
	}
	table, tr, td {
		border: solid thin black;
		padding: 10px;
	}
	button {
		color: white;
		background-color: green;
	}
	button:active {
		color: white;
		background-color: red;
	}
	</style>
	<script>
		let timeoutId = 0

		function clone(clone_url){
			const copytext = document.getElementById('copytext')
			const logtext = document.getElementById('logtext')
			logtext.innerText = ""
			if(timeoutId != 0){
				clearTimeout(timeoutId)
			}

			copytext.type = "text"
			copytext.value = clone_url

			copytext.select()
			copytext.setSelectionRange(0, 99999)

			document.execCommand('copy')
			copytext.type = "hidden"

			logtext.innerText = `Copied ${copytext.value}`
			timeoutId = setTimeout(function(){
				logtext.innerText = ""
				if(timeoutId != 0){
					clearTimeout(timeoutId)
				}
			}, 2000)
		}
	</script>
</head>
<body>
	<table>
		<tr>
			<th>Name</th>
			<th>Clone url</th>
			<th>Git clone shortcut</th>
		</tr>
		{{#files}}
		<tr>
			<td>{{name}}</td>
			<td>{{clone_ssh_url}}</td>
			<td>
				<button type="button" onclick="clone('{{clone_ssh_url}}')">Clone</button>
			</td>
		</tr>
		{{/files}}
	</table>
	<p id="logtext"></p>
	<input type="hidden" id="copytext" value=""/>
</body>
</html>