<html>
<head>
	<title>Git dir UI</title>
	<style>
	table {
		
	}
	table, tr, td {
		border: solid thin black;
		padding: 10px;
	}
	button {
		color: white;
		background-color: green;
	}
	button:active {
		color: white;
		background-color: red;
	}
	</style>
	<script>
		function clone(clone_url){
			const copytext = document.getElementById('copytest')
			copytext.type = "text"
			copytext.value = clone_url

			copytext.select()
			copytext.setSelectionRange(0, 99999)

			document.execCommand('copy')
			copytext.type = "hidden"
		}
	</script>
</head>
<body>
	<table>
		<tr>
			<th>Name</th>
			<th>Clone url</th>
			<th>Git clone shortcut</th>
		</tr>
		{{#files}}
		<tr>
			<td>{{name}}</td>
			<td>{{clone_url}}</td>
			<td>
				<button type="button" onclick="clone('{{clone_url}}')">Clone</button>
			</td>
		</tr>
		{{/files}}
	</table>
	<input type="hidden" id="copytest" value=""/>
</body>
</html>